<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<%if(!author){%>
            <h1 class='col-sm-12 notfound'>ERROR !!!</h1>
        <%}
        else{%>
			<h2> Are you sure you want to DELETE <%=author.firstName%> <%=author.lastName%> </h2>
			<h3> These changes cannot be undone <h3>
			<a class='btn btn-primary' href='/author2/<%=author.authorId%>/delete'> Delete </a>
			<a class='btn btn-primary' href='/home2'> Cancel </a>
		<%}%>	
	</div>
</div>
	
<%- include ('templates/footer'); -%>	